/* Import google fonts here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rajdhani:wght@700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    /* colors */
    --body-color: #dbecde;
    --sidebar-color: #fff;
    --primary-color: #5ad579;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;

    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}

/* ======== General styling ======== */

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

/* ======== end of general styling ======== */



/* ======== Sidebar ======== */

body {
    min-height: 100vh;
    background: var(--body-color);
    transition: var(--trans-05);
    -webkit-transition: var(--trans-05);
    -moz-transition: var(--trans-05);
    -ms-transition: var(--trans-05);
    -o-transition: var(--trans-05);
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 270px;
    padding: 10px 14px 5rem 14px;
    background: var(--sidebar-color);
    transition: var(--trans-05);
    -webkit-transition: var(--trans-05);
    -moz-transition: var(--trans-05);
    -ms-transition: var(--trans-05);
    -o-transition: var(--trans-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.sidebar.close .text {
    opacity: 0;
    visibility: hidden;
}

/* ======== Here is our resusable styles ======== */

.sidebar .text {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--trans-03);
    -webkit-transition: var(--trans-03);
    -moz-transition: var(--trans-03);
    -ms-transition: var(--trans-03);
    -o-transition: var(--trans-03);
    white-space: nowrap;
    opacity: 1;
}

/* ======== end of resusable styles ======== */


.sidebar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 60px;
    height: 60px;
    background: var(--primary-color);
    color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--trans-03);
    -webkit-transition: var(--trans-03);
    -moz-transition: var(--trans-03);
    -ms-transition: var(--trans-03);
    -o-transition: var(--trans-03);
}

.sidebar .logo:hover {
    filter: brightness(85%);
    -webkit-filter: brightness(85%);
}

.sidebar .logo h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 2rem;
}

.sidebar li {
    height: 50px;
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    font-size: 20px;
}

.sidebar li .icon, .sidebar li .text {
    color: var(--text-color);
    transition: var(--trans-02);
    -webkit-transition: var(--trans-02);
    -moz-transition: var(--trans-02);
    -ms-transition: var(--trans-02);
    -o-transition: var(--trans-02);
}

.sidebar header {
    position: relative;
}

.sidebar header .header-text {
    color: var(--text-color);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.sidebar header .logo-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

header .logo-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 700;
}

.sidebar .menu {
    margin-top: 35px;
}

.sidebar .search-box {
    background: var(--primary-color-light);
    padding-left: 1.2rem;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    width: 100%;
    overflow: hidden;
    transition: var(--trans-05);
    -webkit-transition: var(--trans-05);
    -moz-transition: var(--trans-05);
    -ms-transition: var(--trans-05);
    -o-transition: var(--trans-05);
    cursor: pointer;
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--trans-05);
    -webkit-transition: var(--trans-05);
    -moz-transition: var(--trans-05);
    -ms-transition: var(--trans-05);
    -o-transition: var(--trans-05);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding-left: 1.2rem;
    gap: 1rem;
    transition: var(--trans-04);
    -webkit-transition: var(--trans-04);
    -moz-transition: var(--trans-04);
    -ms-transition: var(--trans-04);
    -o-transition: var(--trans-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon, .sidebar li a:hover .text {
    color: var(--sidebar-color);
    transition: var(--trans-02);
    -webkit-transition: var(--trans-02);
    -moz-transition: var(--trans-02);
    -ms-transition: var(--trans-02);
    -o-transition: var(--trans-02);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display:flex;
    align-items: center;
    padding-left: 1rem;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--trans-03);
    -webkit-transition: var(--trans-03);
    -moz-transition: var(--trans-03);
    -ms-transition: var(--trans-03);
    -o-transition: var(--trans-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    height: 100%;
    min-width: 60px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--primary-color-light);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: var(--trans-05);
    -webkit-transition: var(--trans-05);
    -moz-transition: var(--trans-05);
    -ms-transition: var(--trans-05);
    -o-transition: var(--trans-05);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background: var(--toggle-color);
    cursor: pointer;
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: var(--sidebar-color);
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    cursor: pointer;
    transition: var(--trans-03);
    -webkit-transition: var(--trans-03);
    -moz-transition: var(--trans-03);
    -ms-transition: var(--trans-03);
    -o-transition: var(--trans-03);
}

/* ========  styles  for dark mode======== */

body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

body.dark .sidebar li:hover .icon, body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

body.dark .logo {
    color: var(--text-color);
    background: var(--primary-color-light);
}

body.dark .search-box input {
    color: var(--text-color);
}

body.dark .switch::before {
    left: 24px;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

/* ========  end of styles for dark mode======== */


/* ========  styles for main content======== */

.home {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    left: 250px;
    width: calc(100% - 88px);
    background: var(--body-color);
    transition: var(--trans-05);
    -webkit-transition: var(--trans-05);
    -moz-transition: var(--trans-05);
    -ms-transition: var(--trans-05);
    -o-transition: var(--trans-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
    text-align: center;
}

.sidebar.close ~ .home {
    left: 88px;
    width: calc(100% - 88px);
}

/* Thanks for watching, have a wonderful Day */



